Vamos a ver los contadores,que son otra forma de realizar calculos,contar registros, en si es otra forma
de crear frecuencias.

In [1]:
import pandas as pd

In [3]:
#para la practica crearemos una lista con un string largo, entonces el metodo list tomara cada caracter como un elemento individual de la lista,veremos que hay caracteres que se repiten y asi practicaremos como ir contando esos caracteres, con esta lista crearemos una serie que tendra los indices de cada elemento.
s=pd.Series(list("absbbsaajdgababsshdtbbssaabbcjdusssdfaaabbdrsss"))
s

0     a
1     b
2     s
3     b
4     b
5     s
6     a
7     a
8     j
9     d
10    g
11    a
12    b
13    a
14    b
15    s
16    s
17    h
18    d
19    t
20    b
21    b
22    s
23    s
24    a
25    a
26    b
27    b
28    c
29    j
30    d
31    u
32    s
33    s
34    s
35    d
36    f
37    a
38    a
39    a
40    b
41    b
42    d
43    r
44    s
45    s
46    s
dtype: object

In [4]:
#ahora, con el tema pasado de la creacion de nuevas variables para capturar el tipo de inmueble que hay en nuestro df debimos hacer varios pasos, tambien podemos capturar los tipos unicos que tengamos en un df utilizando simplemente el metodo unique(), este nos dara un array con los elementos que hay en nuestra serie de forma individual,osea nos dice con cuales elementos contamos en nuestra serie.
s.unique()

array(['a', 'b', 's', 'j', 'd', 'g', 'h', 't', 'c', 'u', 'f', 'r'],
      dtype=object)

In [5]:
#si quiero saber la frecuencia de cada elemento en la serie,osea cuantos elementos hay de cada uno de ellos utilizo el metodo value_counts()
s.value_counts()

s    12
b    11
a    10
d     5
j     2
g     1
h     1
t     1
c     1
u     1
f     1
r     1
Name: count, dtype: int64

In [7]:
#ahora,vamos a utilizar estos sencillos metodos en un ejemplo real para verificar su utilidad,usaremos nuestro archivo inicial de los inmuebles,osea el que tenia datos nulos.
dt=pd.read_csv(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\data\alquiler.csv",sep=";")
dt.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [8]:
#si quiero saber los valores unicos de la columna Tipo hago esto
dt.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [9]:
#si quiero contar el numero de elementos de cada tipo
dt.Tipo.value_counts()

Tipo
Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: count, dtype: int64