Vamos a ver como crear agrupaciones personalizadas

In [1]:
import pandas as pd

In [2]:
dt=pd.read_csv(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\data\alquiler.csv",sep=";")
dt.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [3]:
#vamos a crear nuevas agrupaciones segun el numero de cuartos
#1 y 2 cuartos
#3 y 4
#5 y 6
#7 o mas cuartos

#creamos una lista que tendra los cortes o numeros de cada condicion, comenzamos con el cero que sera el numero menor del primer rango 1 y 2, y tomamos los numeros mayores de cada rango(los cortes), el ultimo numero como no esta especificado le ponemos un numero grande,100.
clases=[0,2,4,6,100]

In [5]:
#ya teniendo esta lista con los cortes, creamos nuestros grupos con el metodo cut(), le especificamos la columna donde queremos sacar los rangos y le pasamos nuestros cortes, este metodo barre todo el dataset y va asignando cada registro dentro de la categoria correspondiente,osea los intervalos que le especificamos.
cuartos=pd.cut(dt.Cuartos,clases)
cuartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32955           NaN
32956    (2.0, 4.0]
32957    (0.0, 2.0]
32958    (0.0, 2.0]
32959           NaN
Name: Cuartos, Length: 32960, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [7]:
#ahora, para saber las frecuencias de cada uno de los grupos que especificamos utilizamos la clase Series() con el metodo value_counts()
pd.Series(cuartos).value_counts()

Cuartos
(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: count, dtype: int64

In [8]:
#para que se vea mejor le ponemos etiquetas
labels=['1 y 2 cuartos','3 y 4 cuartos','5 y 6 cuartos','7 cuartos ó más']
cuartos=pd.cut(dt.Cuartos,clases,labels=labels)
pd.Series(cuartos).value_counts()

Cuartos
1 y 2 cuartos      12419
3 y 4 cuartos       9894
5 y 6 cuartos        709
7 cuartos ó más       87
Name: count, dtype: int64

In [9]:
#no estamos mostrando los registros con cero cuartos y asi no es muy preciso el resultado,para incluirlo. le pasamos al metodo cut() el parametro include_lowest=True.
cuartos=pd.cut(dt.Cuartos,clases,labels=labels,include_lowest=True)
pd.Series(cuartos).value_counts()

Cuartos
1 y 2 cuartos      22270
3 y 4 cuartos       9894
5 y 6 cuartos        709
7 cuartos ó más       87
Name: count, dtype: int64