Vamos a ver nuevas formas de hacer selecciones,vamos a ver como hacer particiones,por ejemplo el cliente solo quiere ver ciertas columnas del archivo y ciertas filas,entonces debemos saber como capturar esos datos especificos

In [1]:
import pandas as pd

In [3]:
#recordemos que con el metodo split() aplicado a un string,se creara una lista con los caracteres de  ese string como valores de la lista,de esta forma podemos tomar esos caracteres y usarlos como titulos de nuestras columnas en nuestros df asi:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [5]:
#aqui creamos una lista de tuplas para trabajar,y usando el metodo split le podemos poner los titulos de las columnas a nuestro df y a sus filas

dt=[(1,2,3,4),
    (5,6,7,8),
    (9,10,11,12),
    (13,14,15,16)]
df=pd.DataFrame(dt,'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [6]:
#ahora, si solo quiero ver la columna C1 hago esto,(recordar que cuando tengo los datos de solo una columna tendre una serie,si ya son mas de una columna sera un df)
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [7]:
#ahora, si nos piden visualizar la columna c3 y c1 en ese orden, utilizo dobles [[]],porque debo  poner una lista,pues esos valores de c1 y c3 seran ya para una lista
df[['c3','c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [8]:
#podemos inspeccionar el tipo y veremos que es un df
type(df[['c3','c1']])

pandas.core.frame.DataFrame

In [9]:
#si quiero ver ahora los datos por indices(osea las filas) debo colocar de donde a donde quiero ver, por ejemplo me piden ver el indice 1 hasta el 2,debo tener en cuenta que para ver el indice 2 debo seleccionar el 3 pues este no sera tomado en cuenta pero cubre el 2
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [10]:
#seleccionar desde el indice 1 y solo las columnas c3 y c1 en ese orden
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [11]:
#el metodo loc() de pandas tambien hace particiones mas facil,este utiliza solo los nombres de las columnas o filas,no los indices,por ejemplo,mostrar la fila l3.
df.loc['l3']

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [13]:
#mostrar las filas l3 y l2,osea sera un df
df.loc[['l3','l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [14]:
#ahora, si quiero mostrar la interseccion de la fila l1 con la columna c2
df.loc['l1','c2']

2

In [15]:
#el metodo iloc() de pandas hace lo mismo pero este si utiliza los indices de las filas y las columnas,mostrar la interseccion de la fila l1 y la columna c2
df.iloc[0,1]

2

In [16]:
#mostrar ahora una matriz entre las filas l3 y l1 y las columnas c4 y c1
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   9
l1   4   1