In [26]:
import pandas as pd
import requests

FORMAS DE IMPORTAR DIFERENTES TIPOS DE ARCHIVOS DE NUESTRA BD

In [2]:
#vamos  a ver como importar una bd en formato json,primero vamos a abrirlo con el metodo  open() para saber como viene,la informacion es la misma del primer formato csv de nuestra bd,pero el formato sera diferente,para leerlo usamos el metodo read()
json=open(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\extras\alquiler.json")
print(json.read())

[{"Tipo":"HabitaciÃ³n","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"PachacÃ¡mac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"PachacÃ¡mac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [4]:
#ahora,para guardar este json en un dataframe(osea como una tabla) usamos el metodo read_json()
dfJSON=pd.read_json(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\extras\alquiler.json")
print(dfJSON)

                 Tipo     Distrito  Cuartos  Vacantes  Suites  Area  Valor  \
0          Habitación    San Borja        1         0       0    40   1700
1                Casa   Lurigancho        2         0       1   100   7000
2     Local comercial          Ate        0         4       0   150   5200
3        Departamento   Pachacámac        1         0       0    15    800
4        Departamento          Ate        1         0       0    48    800
5        Departamento     Barranco        3         1       0    70   1200
6        Departamento        Comas        2         0       0    50   1300
7  Casa en condominio          Ate        5         4       5   750  22000
8  Casa en condominio  El Agustino        2         2       0    65   1000
9     Local comercial   Pachacámac        0         3       0   695  35000

   Mantenimiento  Impuesto
0          500.0      60.0
1            NaN       NaN
2         4020.0    1111.0
3          390.0      20.0
4          230.0       NaN
5            NaN       NaN
6          301.0      17.0
7            NaN       NaN
8            NaN       NaN
9        19193.0    3030.0

In [5]:
#ahora,vamos a visualizar un archivo .txt, como siempre primero lo abrimos para saber su contenido
txt=open(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\extras\alquiler.txt")
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
HabitaciÃ³n	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	PachacÃ¡mac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	PachacÃ¡mac	0	3	0	695	35000	19193	3030

In [7]:
#ahora lo importamos a un dataframe de pandas,o un objeto pandas que es lo mismo, como este txt es una tabla utilizamos el metodo read_table()
dfTXT=pd.read_table(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\extras\alquiler.txt")
print(dfTXT)

                 Tipo     Distrito  Cuartos  Vacantes  Suites  Area  Valor  \
0          Habitación    San Borja        1         0       0    40   1700
1                Casa   Lurigancho        2         0       1   100   7000
2     Local comercial          Ate        0         4       0   150   5200
3        Departamento   Pachacámac        1         0       0    15    800
4        Departamento          Ate        1         0       0    48    800
5        Departamento     Barranco        3         1       0    70   1200
6        Departamento        Comas        2         0       0    50   1300
7  Casa en condominio          Ate        5         4       5   750  22000
8  Casa en condominio  El Agustino        2         2       0    65   1000
9     Local comercial   Pachacámac        0         3       0   695  35000

   Mantenimiento  Impuesto
0          500.0      60.0
1            NaN       NaN
2         4020.0    1111.0
3          390.0      20.0
4          230.0       NaN
5            NaN       NaN
6          301.0      17.0
7            NaN       NaN
8            NaN       NaN
9        19193.0    3030.0

In [14]:
#ahora vamos a trabajar con un excel, para esto debo instalar la libreria openpyxl via pip asi:
#  pip install openpyxl
dfXLSX=pd.read_excel(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\extras\alquiler.xlsx")
print(dfXLSX)

                 Tipo     Distrito  Cuartos  Vacantes  Suites  Area  Valor  \
0          Habitación    San Borja        1         0       0    40   1700
1                Casa   Lurigancho        2         0       1   100   7000
2     Local comercial          Ate        0         4       0   150   5200
3        Departamento   Pachacámac        1         0       0    15    800
4        Departamento          Ate        1         0       0    48    800
5        Departamento     Barranco        3         1       0    70   1200
6        Departamento        Comas        2         0       0    50   1300
7  Casa en condominio          Ate        5         4       5   750  22000
8  Casa en condominio  El Agustino        2         2       0    65   1000
9     Local comercial   Pachacámac        0         3       0   695  35000

   Mantenimiento  Impuesto
0          500.0      60.0
1            NaN       NaN
2         4020.0    1111.0
3          390.0      20.0
4          230.0       NaN
5            NaN       NaN
6          301.0      17.0
7            NaN       NaN
8            NaN       NaN
9        19193.0    3030.0

In [17]:
#ahora vamos a abrir una pagina web,osea un archivo html.Esta pagina tiene los equipos de futbol campeones mundiales, si la imprimo normal me trae los datos pero en una lista y no se ven muy bien asi,para mejorarlo le indico que solo me traiga la primera columna por medio de su indice 0.Para poder leer este tipo de archivos debemos instalar la libreria lxml via pip:  pip install lxml
dfHTML=pd.read_html(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\extras\datos_html_1.html")
dfHTML[0]

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
5,1998,Francia,Brasil,Francia
6,1994,Brasil,Italia,Estados Unidos
7,1990,Alemania,Argentina,Italia
8,1986,Argentina,Alemania (RFA),México
9,1982,Italia,Alemania (RFA),España
10,1978,Argentina,Holanda,Argentina
11,1974,Alemania (RFA),Holanda,Alemania (RFA)
12,1970,Brasil,Italia,México
13,1966,Inglaterra,Alemania (RFA),Inglaterra
14,1962,Brasil,Checoslovaquia,Chile
15,1958,Brasil,Suecia,Suecia
16,1954,Alemania (RFA),Hungría,Suiza
17,1950,Uruguay,Brasil,Brasil
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay

In [27]:
#ahora, esta pagina de los equipos de futbol no es muy dinamica,se actualiza cada 4 years,si necesito traer informacion de una pagina web dinamica que se esta actualizando seguido,por ejemplo la reserva federal de eeuu, lo que hago es apuntar a la url de la pagina,esta pagina me muestra unas tablas,pero para poder hacer esto primero debo instalar la libreria request via pip: pip install requests, porque estamos intentando leer una pagina web a traves de un codigo pandas y no de un navegador,debemos hacer una solicitud a esta url primero y asi obtener los datos. Entonces si con request.get() apunto a la url y despues le solicito que me diga el status de la solicitud me debe devolver un codigo 200 de exitoso. 
r=requests.get("https://www.federalreserve.gov/releases/h3/current/default.htm")
r.status_code

200

In [28]:
#Ahora, esta respuesta no solo devuelve el estado de la solicitud,tambien tiene un atributo "text" que tendra en  si el contenido de la pagina web,si usamos r.text nos devuelve el contenido html.Como la web tiene 3 tablas con datos,si solo quiero ver en mi dataframe la primera tabla lo indico con [0] asi:
df_html=pd.read_html(r.text)
df_html[0]

C:\Users\User\AppData\Local\Temp\ipykernel_2392\2773344422.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_html=pd.read_html(r.text)

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Aug. 2019                         134639
2           Sept. 2019                         134707
3            Oct. 2019                         134998
4            Nov. 2019                         140705
5            Dec. 2019                         138984
6            Jan. 2020                         144816
7            Feb. 2020                         138370
8            Mar. 2020                         113139
9            Apr. 2020                              0
10            May 2020                              0
11           June 2020                              0
12           July 2020                              0
13           Aug. 2020                              0
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       July 15, 2020                              0
17       July 29, 2020                              0
18       Aug. 12, 2020                              0
19       Aug. 26, 2020                              0
20       Sept. 9, 2020                              0

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       148114                         121167
2                       148188                         121227
3                       148509                         121489
4                       154787                         126625
5                       152893                         125076
6                       159309                         130326
7                       152218                         124524
8                       124461                         101817
9                            0                              0
10                           0                              0
11                           0                              0
12                           0                              0
13                           0                              0
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                           0                              0
17                           0                              0
18                           0                              0
19                           0                              0
20                           0                              0

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        1520876
2                        1439771
3                        1481513
4                        1529341
5                        1630090
6                        1645384
7                        1656989
8                        2045148
9                        2953586
10                       3217635
11                       3043556
12                       2718529
13                       2799719
14                           NaN
15            Two weeks ending 8
16                       2795785
17                       2623526
18                       2751124
19                       2821740
20                       2854690

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              147555
2                                              147498
3                                              148050
4                                              154256
5                                              152562
6                                              158765
7                                              151612
8                                              124147
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                NaN
15                                 Two weeks ending 8
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             1373321
2                                             1292273
3                                             1333462
4                                             1375085
5                                             1477528
6                                             1486619
7                                             1505377
8                                             1921000
9                                             2953586
10                                            3217635
11                                            3043556
12                                            2718529
13                                            2799719
14                                                NaN
15                                 Two weeks ending 8
16                                            2795785
17                                            2623526
18                                            2751124
19                                            2821740
20                                            2854690

In [29]:
#la pagina web tiene 3 tablas,si quiero ver en pandas la longitud de esa web,osea el numero de tablas  utilizo el metodo len(). En resumen para ver una pagina web dinamica,debemos importar la libreria request(se instala primero via pip), despues se hace la solicitud con request.get(url),y para ver los datos que nos trae usamos text:  df_html=pd.read_html(r.text).  Lo bueno de esto,es que como la pagina sera dinamica,para despues ir viendo las actualizaciones en tiempo real simplemente vamos refrescando este codigo y se iran visualizando los datos actuales porque este codigo va enlazado con la pagina que nos trae los datos.
len(df_html)

3