vamos a ver otros metodos que tiene pandas para tratar los valores nulos

In [1]:
#vamos a ver nuevos metodos para tratar valores nulos, como siempre importamos pandas y creamos una lista de valores
import pandas as pd

In [3]:
dt=[0.5,None,None,0.52,0.54,None,None,0.59,0.6,None,0.7]
s=pd.Series(dt)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [4]:
#como ya habiamos visto podemos llenar los nulos con fillna()
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [5]:
#como no hemos especificado el inplace=True nuestra serie permanece sin cambios,podemos mostrarla nuevamente con su forma original
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [7]:
#ahora, a apartir del metodo fillna() podemos tener otras opciones de manipulacion de los nulos, por ejemplo podemos pasarle el argumento method='ffill', este parametro le indica al metodo que vaya buscando los nulos en la serie de arriba a abajo, si encuentra un nulo lo llenara con el mismo valor anterior a el.Ahora, ya no se usara mas en fillna() el argumento method, sera sustituido por el metodo ffill() que podremos usar directamente.
s.ffill()

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [8]:
#con bfill() se hace lo mismo pero en sentido opuesto,osea se va buscando los nulos pero de abajo a arriba y se rellenan con los valores anteriores.
s.bfill()

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [9]:
#muchas veces los cientificos de datos sustituyen los nulos con la media aritmetica de los valores que tengan, para hacer esto se usa el metodo mean() que calcula la media de los valores.
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [10]:
#ahora, el metodo ffill() va llenando los nulos con los valores anteriores,pero si tengo por ejemplo 5 nulos seguidos el los llenara con el mismo valor y graficamente esto se vera como una linea recta y no es correcto,no es preciso,asi que podemos ponerle un parametro para limitar el llenado de estos valores,le ponemos el parametro limit.Por ejemplo le ponemos que tenga limit=1 y los que siguen en esa secuencia los deje nulos.
s.ffill(limit=1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [12]:
#ahora, si tenemos una serie pero con miles de datos,no vamos a llenar siempre con los primeros valores de la serie,podemos combinar el llenado de los nulos con los metodos ffill y bfill,osea llenar una mitad con los primeros valores y la otra mitad con los ultimos valores de abajo arriba,para esto primero capturamos los primeros valores con ffill()
s1=s.ffill(limit=1)
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [13]:
#ya capturamos los primeros nulos,pero como tiene un limit,quedan nulos en la serie,estos los llenaremos con bfill(), asi combinamos los valores de relleno con estos 2 metodos.
s2=s1.bfill(limit=1)
s2

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64