Vamos a ver como organizar nuestros dataframes,utilizaremos el metodo sort()

In [1]:
import pandas as pd

In [2]:
#creamos un df,sera una lista de listas
dt=[[1,2,3],[4,5,6],[7,8,9]]
dt

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
#nota: si ponemos en una lista solo texto, python pondra cada caracter de ese texto  como un elemento independiente de la lista asi,entonces podemos aprovechar esta funcionalidad para tomar esta lista que se genera y usarla como indice de nuestras filas,tambien podemos hacer lo mismo para ponerle nombres a nuestras columnas
list('123')

['1', '2', '3']

In [4]:
#entonces aqui generamos nuestro df
df=pd.DataFrame(dt,list('321'),list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [5]:
#le colocamos asi los indices para poder mostrar como usar le metodo sort para organizarlos, utilizando sort_index(inplace=True) con el argumento inplace=True lo cual actualiza el df
df.sort_index(inplace=True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [6]:
#ahora para ordenar el nombre de las columnas le podemos pasar el parametro axis=1, el 1 indica que se organiza por las columnas
df.sort_index(inplace=True,axis=1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [7]:
#ahora, vemos que el contenido del df esta desordenado, para ordenar el contenido de un df podemos utilizar el metodo sort_value(), este pide una columna para ordenarla con el parametro by=nombre columna,si quiero ordenar pero por la fila pues le paso el indice de esa fila usando tambien by.
df.sort_values(by='1',axis=1,inplace=True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [8]:
df.sort_values(by='2',axis=1,inplace=True)
df.sort_values(by='3',axis=1,inplace=True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3