TRABAJANDO CON REGISTROS DUPLICADOS

In [2]:
import pandas as pd

In [3]:
#vamos a ver como borrar registros duplicados en nuestras bd.Por ejemplo vamos a hacer una separacion de los locales en nuestra bd que son comerciales y los residenciales
dt=pd.read_csv(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\data\alquiler.csv",sep=";")

In [4]:
#vemos las primeras 10 filas de la bd
dt.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [5]:
#vamos a capturara solo la columna Tipo de nuestra bd
dt["Tipo"]

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [6]:
#podemos almacenar esta columna en una variable
tipoInmueble=dt["Tipo"]

In [7]:
#vemos el tipo de variable,sera una serie porque es una columna con valores
type(tipoInmueble)

pandas.core.series.Series

In [11]:
#podemos ver que en la serie hay valores repetidos,como habitacion,departamento,etc,para quitar de nuestra serie esos valores repetidos,utilizamos el metodo drop_duplicates(), se le pasa el parametro inplace=True para que ese resultado se actualice realmente en la bd,osea con este parametro estamos actualizando la bd, si no lo ponemos al ejecutar esta linea se muestra la lista sin valores duplicados pero en la bd original no hace ningun cambio,se mantendra igual.Veremos que se aplica el cambio porque ya no tenemos los 32mil resultados sino menos.
tipoInmueble.drop_duplicates(inplace=True)
tipoInmueble

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

ORGANIZANDO LA VISUALIZACION

In [12]:
#vemos que los resultados de aplicar el drop_duplicates() me arroja los indices de cada registro pero desordenados,esto es porque este metodo solo va dejando el primer registro de cada duplicado con su respectivo indice y borralos demas,para organizar los indices puedo primero visualizar cuales indices quedaron en nuestro objeto,para esto simplemente utilizo el atributo index.
tipoInmueble.index

Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,    83,
         117,   159,   207,   347,   589,  2157,  3354,  4379,  4721,  6983,
        9687, 23614],
      dtype='int64')

In [13]:
#ahora,para crear los registros pero con indices ordenados de uno en uno,primero debo pasar esta serie a un  dataframe asi:
tipoInmueble=pd.DataFrame(tipoInmueble)
type(tipoInmueble)

pandas.core.frame.DataFrame

In [14]:
#ahora para saber el tamano de este dataframe utilizo el metodo shape[] el cual me devuelve las filas y columnas del dataframe,como solo quiero saber cuantas filas tiene(osea el numero de indices) le especifico 0,que sera el primer parametro.Me dira que hay 22 filas, este es el tamano del dataframe.
tipoInmueble.shape[0]

22

In [16]:
#ahora, puedo con un for visualizar los indices de mi dataframe utilizando el metodo range(), pues  ya se de donde hasta donde seran los indices d el dataframe
for i in range(tipoInmueble.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [17]:
#ya con esto,puedo decirle a mi dataframe que los indices seran los que estoy especificando con  este rango,osea asi actualizo los indices para que sean secuenciales.
tipoInmueble.index=range(tipoInmueble.shape[0])

In [18]:
#ahora, si ejecuto de nuevo mi dataframe ya tendra los indices actualizados secuencialmente
tipoInmueble

                          Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

In [19]:
#le puedo dar un nombre a la columna asi:
tipoInmueble.columns.name="Id"
tipoInmueble

Id                        Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial