Vamos a comenzar a ver frecuencias y selecciones, una frecuencia en si es el numero de veces que se repite un elemento.

In [20]:
import pandas as pd

In [21]:
#vamos a trabajar con el archivo que creamos llamado alquilerResidencial en la ultima clase
dt=pd.read_csv(r"C:\Users\User\Desktop\dataScience\pandasDatos\alquilerResidencial.csv",sep=";")
dt.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [22]:
#el cliente ve este archivo y necesita aclara ciertas dudas,por lo que nos envia una preguntas para que nosotros las resolvamos trabajando en este archivo:

#1- Seleccione el numero de veces(frecuencia) en las que aparece el tipo de inmueble "Departamento", aqui la primera línea crea un filtro y la segunda línea utiliza ese filtro para obtener la cantidad de filas que cumplen con ese filtro.
seleccion=dt['Tipo']=='Departamento'
n1=dt[seleccion].shape[0]
n1

19532

In [23]:
#seleccione los inmuebles con tipo "Casa","Casa en condominio" y "Casa de villa", aqui tenemos una condicion de 3 criterios, por lo que al cumplirse alguno de ellos pasara a ser true
seleccion2=(dt['Tipo']=='Casa')| (dt['Tipo']=='Casa en condominio') | (dt['Tipo']=='Casa de villa')
n2=dt[seleccion2].shape[0]
n2

2212

In [24]:
#seleccione los inmuebles con areas entre 60 y 100 metros cuadrados,incluyendo los limites,osea >=60 y <=100
seleccion3=(dt['Area']>=60) & (dt['Area']<=100)
n3=dt[seleccion3].shape[0]
n3

8736

In [26]:
#seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor de $2.000,00,osea  aqui debemos combinar la busqueda pero con dos columnas, Cuartos y Valor.
seleccion4=(dt['Cuartos']>=4) & (dt['Valor']<2000)
n4=dt[seleccion4].shape[0]
n4

41

In [28]:
#imprimimos los resultados para que se vean mejor asi:
print(f"Número de inmuebles clasificados por tipo Departamento = {n1}")
print(f"Número de inmuebles clasificados por tipo Casa,Casa en condominio y Casa de villa = {n2}")
print(f"Número de inmuebles con areas entre 60 y 100 metros cuadrados,incluyendo los limites = {n3}")
print(f"Número de inmuebles que tienen por lo menos 4 cuartos y alquiler menor de $2.000,00, = {n4}")

Número de inmuebles clasificados por tipo Departamento = 19532
Número de inmuebles clasificados por tipo Casa,Casa en condominio y Casa de villa = 2212
Número de inmuebles con areas entre 60 y 100 metros cuadrados,incluyendo los limites = 8736
Número de inmuebles que tienen por lo menos 4 cuartos y alquiler menor de $2.000,00, = 41