TRABAJANDO CON DATOS EN PANDAS

Reporte de analisis 1

In [9]:
import pandas as pd
pd.set_option('display.max_rows',15)

In [13]:
#capturando nuestra bd con pandas
dt=pd.read_csv(r"C:\Users\User\Desktop\dataScience\pandasDatos\PandasMateriales\data\alquiler.csv",sep=";")

In [14]:
print(dt)

                  Tipo    Distrito  Cuartos  Vacantes  Suites  Area   Valor  \
0           Habitación   San Borja        1         0       0    40  1700.0
1                 Casa  Lurigancho        2         0       1   100  7000.0
2      Local comercial         Ate        0         4       0   150  5200.0
3         Departamento  Pachacámac        1         0       0    15   800.0
4         Departamento         Ate        1         0       0    48   800.0
...                ...         ...      ...       ...     ...   ...     ...
32955       Habitación  Pachacámac        0         0       0    27   800.0
32956     Departamento       Lince        3         1       2    78  1800.0
32957     Departamento       Rímac        2         1       0    48  1400.0
32958     Departamento       Rímac        2         0       0    70  3000.0
32959  Local comercial  Pachacámac        0         0       0   250  6500.0

       Mantenimiento  Impuesto
0              500.0      60.0
1                NaN       NaN
2             4020.0    1111.0
3              390.0      20.0
4              230.0       NaN
...              ...       ...
32955          350.0      25.0
32956          800.0      40.0
32957          509.0      37.0
32958          760.0       NaN
32959         4206.0    1109.0

[32960 rows x 9 columns]

In [15]:
#el metodo describe() muestra datos estadisticos de nuestra bd que queramos ver, como la mediana,el standard,etc.
dt.describe()

,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

In [16]:
#para saber el tipo de objeto de nuestra variable donde guardamos nuestra bd usamos el metodo type()
type(dt)

pandas.core.frame.DataFrame

In [17]:
#para obtener mas informacion sobre nuestro dataframe dt usamos el metodo info()
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [19]:
#con head() obtengo solo las primeras lineas de la bd,no las ultimas,pero puedo especificarle un numero de filas que quiera,por ejemplo las primeras 10.
dt.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

Informaciones generales sobre la bd

In [20]:
#para saber el tipo de datos de las columnas del dataframe uso dtypes
dt.dtypes

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [22]:
#para presentar mejor esta informacion la puedo convertir a una tabla de un dataframe con la clase DataFrame() de pandas, como el resultado del dtypes es la columna donde salen los tipos,osea la columna donde vemos object,int64,etc, a esa columna le puedo especificar un nombre para que la tabla resultante se vea mejor a la hora d epresentar los resultados,esto lo hago con el parametro columns=[nombre a la columna]
tipoDatos=pd.DataFrame(dt.dtypes,columns=["tipos de datos"])

In [23]:
#para ponerle un nombre a la primera columna donde aparecen las variables de tipo,distrito,etc utilizo columns.name
tipoDatos.columns.name="Variables"

In [24]:
print(tipoDatos)

Variables     tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [25]:
#con el metodo shape puedo mostrar la forma del dataframe,osea la cantidad de filas y columnas que tiene
dt.shape

(32960, 9)

In [26]:
#si quiero solo ver las filas o solo las columnas indico el indice,el 0 sera el indice d elas filas y el 1 el de las columnas
dt.shape[0]

32960

In [27]:
#con esto puedo crear un mensaje concatenando esas variables
print(f"La bd presenta {dt.shape[0]} registros(inmuebles) y {dt.shape[1]} variables")

La bd presenta 32960 registros(inmuebles) y 9 variables